<section   class="contact" id="contact">
  <div class="title">
    <h2 class="titleText" ><span>N</span>ous contacter</h2>
  </div>
  <div class="contactForm">
  <h3>Envoyer Un Message</h3>
  <div class="inputBox">
    <input type='text' placeholder="Nom">
  </div>
  <div class="inputBox">
    <input type='text' placeholder="Email">
  </div>
  <div class="inputBox">
    <textarea  placeholder="Message"></textarea>
  </div>
  <div class="inputBox">
    <input type="submit" value="envoyer">
  </div>
  <br/><br/><br/>
  </div>
</section>

