
.contact
{
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://res.cloudinary.com/dtl8igxn0/image/upload/v1615412080/copie_xkud7i.jpg');
    background-size:cover;
    width:100%;
    height:100%;
    padding:10% 30%;
}
@media (max-width: 400px) {
  .contact
{
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://res.cloudinary.com/dtl8igxn0/image/upload/v1615412080/copie_xkud7i.jpg');
    background-size:cover;
    width:100%;
    height:100%;
    padding:20% 8%;
}
}
