<app-navbar></app-navbar>
<section   class="contact" id="contact">
  <div class="card m-3">
    <h5 class="card-header" style="font-weight: bolder; color: rgb(6, 156, 6);">Nous contacter</h5>
    <div class="card-body">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>nom</label>
            <input type="text" formControlName="nom" class="form-control" />

        </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Ajouter votre email</div>
                    <div *ngIf="f.email.errors.email">vous devez entrer une adress mail valide</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>message</label>
                    <input type="text" formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" />
                    <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                        <div *ngIf="f.message.errors.required">Ecrire quelque chose ...</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1" style="background-color: rgb(5, 141, 5);border: none;">Envoyer</button>
                <div class="success" *ngIf="showSuccessMessage" style="color:green ">Email envoyer</div>

            </div>
        </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
