.section-header h3 {
  font-size: 46px;
  color: #283d50;
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 45px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}
.client-logo {
  width: 220px;
}

#clients {
  padding: 60px 0;
}

#clients .clients-wrap {
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
}
.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
  text-align: left;
}
.titleText span {
  color: #458c41;
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;
}
#about {
  background: #eee !important;
  margin: 100px 100px 100px 100px;
}

#clients .client-logo {
  padding: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}
.caption img {
  padding: 15%;
  padding-left:20%
  /* margin: 1%; */
}
#clients img {
  transition: all 0.4s ease-in-out;
}
#about {
  padding: 30px;
}
.row1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row1 .col50 {
  position: relative;
  width: 48%;
}
.row1 .col50 .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
}
.row1 .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  /* object-fit:cover; */
}
h2 {
  padding: 20px;
}
/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
html,
body {
  background-color: #039be5;
}

.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;
  border: 0px solid #fff;
}
.well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-left: 15px;
  border: 0px;
}
.thumbnail .caption {
  padding: 3%;
  color: #333;
  padding-left: 0px;
  padding-right: 0px;
  width: 200px;
  height: 130px;
}
.icon-style {
  margin-right: 15px;
  font-size: 18px;
  margin-top: 20px;
}
p {
  margin: 3px;
}
.well-add-card {
  margin-bottom: 10px;
}
.btn-add-card {
  margin-top: 20px;
}
.thumbnail {
  display: block;
  padding: 10% 45%;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 6px solid #acacac;
  border-radius: 15px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;

}
.btn {
  border-radius: 0px;
}
.btn-update {
  margin-left: 15px;
}
@media (max-width: 991px) {
  .row1 {
    flex-direction: column;
  }
  .row1 .col50 {
    position: relative;
    width: 100%;
  }
}

