<section class="about" id="about">
  <div>
  <h2 class="titleText" style="text-align:center"><span>A</span> propos de nous</h2>
</div>
  <div class="row1">
    <div class="col50">

      <br/><br/>
      <div class="col-lg-12" style="text-align:center ; font-size:30px ; color: rgb(136, 136, 136);">Cher Visiteur </div>
      <br/><br/>
      <p style="font-size:15px; text-align: center;">Justcrok Halal et un site pour des particuliers et professionnels. Parmi les principales rubriques que vous trouverez sur ce site, des bibliographies, des sites<br/>
         essentiels à mettre en favoris, des informations nutritionnelles, des dossiers sur la Boucherie, charcuterie Halal, cuisine, food-truck, fast-food, boulangerie, <br/>
         pâtisserie et tous les secteurs alimentaires professionnels qui regroupent les certificateurs européens HALAL. Pour les particuliers, vous allez pouvoir <br/> rechercher des commerces près de chez vous (annuaire) dans le domaine alimentaire, notamment des informations et des recettes Techniques ou faciles <br/>
         ainsi que d’autres services. Sans oublier, le principal, évidemment : la rubrique des recettes : vous pouvez publier vos recettes spéciales ou professionnelles <br/>
         sur notre site en étant vous-mêmes les auteurs. Ce site constituera ainsi un véritable livre de recettes Halal ! <br/>

        Inscrivez-vous et commencez. A mettre en ligne des recettes.<br/>

        Le site et en construction.<br/>

        Ce site n’a pas de vocation à faire du prosélytisme est apolitique, c’est un site 100 % communautaire a vocation unique le Food HALAL

        </p>
    </div>
    <div class="col50">
      <div class="imgBx">
        <br/><br/>
        <div class="col-lg-12" style="text-align:center ; font-size:30px ; color: rgb(136, 136, 136);"> Voici Nos platforms</div>
        <br/><br/>

        <div class="container" id="tourpackages-carousel">
          <div class="row"  >
            <!-- <div class="col-lg-12"><h1>Nos Platforms</h1></div> -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="thumbnail">
                  <div class="caption">
                        <img src="../../../assets/img/logoGris.png" >
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="thumbnail">
                  <div class="caption">

                            <img src="../../../assets/img/org.png" >

                    </div>

                </div>
              </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="thumbnail">
                  <div class="caption">
                    <img src="../../../assets/img/agency.png" >



                </div>
              </div>
            </div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="thumbnail">
                  <div class="caption">

                    <img src="../../../assets/img/agency.png" >


                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="thumbnail">
                  <div class="caption">
                    <img src="../../../assets/img/org.png" >




                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="thumbnail">
                  <div class="caption">

                    <img src="../../../assets/img/logoGris.png" >


                </div>
              </div>
            </div>

          </div><!-- End row -->
        </div><!-- End container -->






                </div>


        </div>
        </div>
</section>
