
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/dtl8igxn0/image/upload/v1615412080/copie_xkud7i.jpg");
  background-size: cover;

}

span{
  font-size:15px;
}
a{
text-decoration:none;
color: #0062cc;
border-bottom:2px solid #0062cc;
}
.box{
  padding:60px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
/* .container{
  margin: auto;
  width: 45%;
  padding: 10px;
} */
.gallery-title
{
    font-size: 36px;
    color: #458C41;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.thumb-cover {
  padding: 15px 20px;
  height: 100%;
  top: 0;
  position: absolute;
  opacity: 0;
  display: block;
  width: 100%;
  background-color: white;
  z-index: 3;
  content: "";
  left: 0;
  border-radius: 12px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    /* border: 1px solid #458C41; */
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-bottom: 30px;


}

.filter-button:hover
{
    font-size: 20px;
    border: 1px solid #458C41;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #458C41;

}

.btn1
{
    background-color: #458C41;
    color: white;
    border:1px solid #458C41;
    border-radius: 0.2rem;
    height:5vh;

}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.nav
{
  margin-left: 300px;
}
#body {  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0.5, 0.5, 1, 1)),url('https://res.cloudinary.com/dtl8igxn0/image/upload/v1615412080/copie_xkud7i.jpg');
  background-size:cover;
  width:100%;
  height:100%;


}
.report-module {
  position: relative;
  margin: 30px 0;
  z-index: 1;
  display: block;
  background: #ffffff;
  min-width: 270px;
  width: 300px\9;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.report-module .thumbnail {
  background: #458C41;
  height: 250px;
  overflow: hidden;
}
.thumbnail {
    padding: 0;
    height:30px;
}

.report-module:hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.report-module:hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .9;
}
.report-module .thumbnail img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  opacity: .2;
}
.report-module .post-content {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  padding: 20px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.report-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #333;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.report-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;

}

.report-module .post-content .description {
  display:block;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.report-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #999999;
}
.report-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.btn-primary {
  color: #fff;
  text-decoration: none;
}
.card-subtitle,
      .card-title {
        font-weight: 400;
      }
      .card-title {
        font-size: 1.875rem;
        color: #495057;
      }
      .card {
        margin-bottom: 24px;
        box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, 0.05);
        background:white

      }
      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background: white;

        background-clip: initial;
        border: 0 solid transparent;
        border-radius: 0.25rem;
      }
      .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
      }
      .card-header:first-child {
        border-radius: 0.25rem 0.25rem 0 0;
      }
      .card-header {

        border-bottom-width: 1px;
      }
      .pb-0 {
        padding-bottom: 0 !important;
      }
      .card-header {
        padding: 1rem 1.25rem;
        margin-bottom: 0;
        background-color: #ffffff;
        border-bottom: 0 solid transparent;
      }
      .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }
     img {
       width:200px;
     }


