
<!------ Include the above in your HEAD tag ---------->
<body>
  <div id="login">
      <div class="container" >
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">

                      <form id="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <i class="fa fa-users" style="color: #42B32F;font-size: 60px; margin-left:130px"></i>

                          <div class="form-group" style="margin-top:80px">
                              <label for="password" class="text-info"  style="color:#42B32F">Password:</label><br>
                              <input type="password" name="password" id="password"  required  class="form-control"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Mettez votre nouveau mot de passe svp </div>
                            </div>
                            </div>

                          <div class="form-group">

                              <input type="submit" name="submit" class="btn btn-info btn-md"style="background-color:#42B32F"  value="submit">
                          </div>

                      </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </body>
