@media (max-width: 400px) {

}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#expert {
    background: #eee !important;
    margin:100px 100px 100px   100px;

}
/* .btn{
  font-size:1em;
  color:#fff;
  background:#458C41;
  display: inline-block;
  padding:10px 30px;
  margin-top:20px;
  text-transform: uppercase;
  text-decoration: none;
  Letter-spacing:2px;
  transition:2s
} */
.btn:hover
{
Letter-spacing:6px;
}


.btn-primary:hover,
.btn-primary:focus {
    background-color: #458C41;
    border-color:#458C41;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #458C41;
    border-color: #458C41;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #458C41;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 370px;
    max-height: 370px;
}

.backside .card a {
    font-size: 18px;
    color: #458C41 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #458C41 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;


}



.expert .content
{
  display:flex;
  justify-content : center;
  flex-wrap:wrap;
  flex-direction:row;
  margin-top:40px;
}
.expert .content .box {
  width:250px;
  margin:15px;
}
.titleText{
  color:#111;
  font-size:2em;
  font-weight:300;
  text-align:left;
}
.titleText span{
  color:#458C41;
  font-weight:700;
  font-size:1.5em;
  text-align:left;

}
.title {
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction :column;
}
.expert .content .box .imgBx {
  position: relative ;
  width:100% ;
  height:100%;
}
.expert .content .box .imgBx img {
  position: relative ;
  top:0;
  left:0;
  width:100% ;
  height:100%;
  /* object-fit:cover; */
}
/* img
{
  max-width:110px;
  max-height:110px;
  width: auto;
  height: auto;
  margin:2%;
} */
