

<section class="expert" id="expert" >
  <div class="content" >
    <div class='title'>
      <h2 class="titleText"> <span>A</span>vis Membres  </h2>
    </div>
  <section id="team" class="pb-5">

    <div class="container">
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let member of members">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside" >
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class=" img-fluid" src={{member.image}} alt="card image">
                                    <h4 class="card-title" style='padding: 2%;font-weight: bolder;'>{{member.name}}</h4>
                                    <p class="card-text">{{member.avis}}</p>
                                    <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{member.name}}</h4>
                                    <p class="card-text">{{member.avis}}</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->

            <!-- ./Team member -->
            <!-- Team member -->

            <!-- ./Team member -->

        </div>
    </div>
</section>
<div class="title">
  <a href="#" class="btn" routerLink='/avis' style="background-color: rgb(21, 134, 21); border:none ; border-radius: 0.5rem;color:white;padding:1% 2%;">tous les Avis </a>
</div>
<!-- Team -->
    </div>
</section>
