.entry-card {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}

.entry-content {
  background-color: #fff;
  padding: 36px 36px 36px 36px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.entry-content .entry-title a {
  color: #333;
}

.entry-content .entry-title a:hover {
  color: #4782d3;
}

.entry-content .entry-meta span {
  font-size: 12px;
}

.entry-title {
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.entry-thumb {
  display: block;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.entry-thumb img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.entry-thumb .thumb-hover {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(71, 130, 211, 0.85);
  display: block;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 40px;
  line-height: 100px;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
  transform: scale(0);
  -webkit-transform: scale(0);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.entry-thumb:hover .thumb-hover {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.article-post {
  border-bottom: 1px solid #eee;
  padding-bottom: 70px;
}

.article-post .post-thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.article-post .post-thumb .post-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  opacity: 0;
}

.article-post .post-thumb .post-overlay span {
  width: 100%;
  display: block;
  vertical-align: middle;
  text-align: center;
  transform: translateY(70%);
  -webkit-transform: translateY(70%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  height: 100%;
  color: #fff;
}

.article-post .post-thumb:hover .post-overlay {
  opacity: 1;
}

.article-post .post-thumb:hover .post-overlay span {
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
}

.post-content .post-title {
  font-weight: 500;
}

.post-meta {
  padding-top: 15px;
  margin-bottom: 20px;
}

.post-meta li:not(:last-child) {
  margin-right: 10px;
}

.post-meta li a {
  color: #999;
  font-size: 13px;
}

.post-meta li a:hover {
  color: #4782d3;
}

.post-meta li i {
  margin-right: 5px;
}

.post-meta li:after {
  margin-top: -5px;
  content: "/";
  margin-left: 10px;
}

.post-meta li:last-child:after {
  display: none;
}

.post-masonry .masonry-title {
  font-weight: 500;
}

.share-buttons li {
  vertical-align: middle;
}

.share-buttons li a {
  margin-right: 0px;
}

.post-content .fa {
  color: #ddd;
}

.post-content a h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0px;
}

.article-post .owl-carousel {
  margin-bottom: 20px !important;
}

.post-masonry h4 {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.media-body h5 a {
  color: #555;
}
.categories li a:before {
  content: "\f0da";
  font-family: "FontAwesome";
  margin-right: 5px;
}
/*
Template sidebar
*/

.sidebar-title {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.categories li {
  vertical-align: middle;
}

.categories li > ul {
  padding-left: 15px;
}

.categories li > ul > li > a {
  font-weight: 300;
}

.categories li a {
  color: #999;
  position: relative;
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}

.categories li a:before {
  content: "\f0da";
  font-family: "FontAwesome";
  margin-right: 5px;
}

.categories li a:hover {
  color: #444;
  background-color: #f5f5f5;
}

.categories > li.active > a {
  font-weight: 600;
  color: #444;
}

.media-body h5 {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 20px;
  font-weight: 400;
}

.media-body h5 a {
  color: #555;
}

.media-body h5 a:hover {
  color: #4782d3;
}
.img-fluid {
  width: 900px;
  height: 300px;
}
h3,
p,
h5,
a {
  color: white;
}

body {
  background: #f5f5f5;
  margin-top: 20px;
}
/*------- portfolio -------*/
.project {
  margin: 15px 0;
}

.no-gutter .project {
  margin: 0 !important;
  padding: 0 !important;
}

.has-spacer {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-spacer-extra-space {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-side-spacer {
  margin-left: 30px;
  margin-right: 30px;
}

.project-title {
  font-size: 1.25rem;
}

.project-skill {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

.project-info-box {
  margin: 15px 0;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
}

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}
.rounded {
  border-radius: 5px !important;
  height: 75vh;
}
.btn-xs.btn-icon {
  width: 34px;
  height: 34px;
  max-width: 34px !important;
  max-height: 34px !important;
  font-size: 10px;
  line-height: 34px;
}
/* facebook button */
.btn-facebook,
.btn-facebook:active,
.btn-facebook:focus {
  color: #fff !important;
  background: #4e68a1;
  border: 2px solid #4e68a1;
}

.btn-facebook:hover {
  color: #fff !important;
  background: #3b4f7a;
  border: 2px solid #3b4f7a;
}

.btn-facebook-link,
.btn-facebook-link:active,
.btn-facebook-link:focus {
  color: #4e68a1 !important;
  background: transparent;
  border: none;
}

.btn-facebook-link:hover {
  color: #3b4f7a !important;
}

.btn-outline-facebook,
.btn-outline-facebook:active,
.btn-outline-facebook:focus {
  color: #4e68a1 !important;
  background: transparent;
  border: 2px solid #4e68a1;
}

.btn-outline-facebook:hover {
  color: #fff !important;
  background: #4e68a1;
  border: 2px solid #4e68a1;
}

/* twitter button */
.btn-twitter,
.btn-twitter:active,
.btn-twitter:focus {
  color: #fff !important;
  background: #65b5f2;
  border: 2px solid #65b5f2;
}

.btn-twitter:hover {
  color: #fff !important;
  background: #5294c6;
  border: 2px solid #5294c6;
}

.btn-twitter:hover {
  color: #fff !important;
  background: #5294c6;
  border: 2px solid #5294c6;
}

.btn-twitter-link,
.btn-twitter-link:active,
.btn-twitter-link:focus {
  color: #65b5f2 !important;
  background: transparent;
  border: none;
}

.btn-twitter-link:hover {
  color: #5294c6 !important;
}

.btn-outline-twitter,
.btn-outline-twitter:active,
.btn-outline-twitter:focus {
  color: #65b5f2 !important;
  background: transparent;
  border: 2px solid #65b5f2;
}

.btn-outline-twitter:hover {
  color: #fff !important;
  background: #65b5f2;
  border: 2px solid #65b5f2;
}

/* google button */
.btn-google,
.btn-google:active,
.btn-google:focus {
  color: #fff !important;
  background: #e05d4b;
  border: 2px solid #e05d4b;
}

.btn-google:hover {
  color: #fff !important;
  background: #b94c3d;
  border: 2px solid #b94c3d;
}

.btn-google-link,
.btn-google-link:active,
.btn-google-link:focus {
  color: #e05d4b !important;
  background: transparent;
  border: none;
}

.btn-google-link:hover {
  color: #b94c3d !important;
}

.btn-outline-google,
.btn-outline-google:active,
.btn-outline-google:focus {
  color: #e05d4b !important;
  background: transparent;
  border: 2px solid #e05d4b;
}

.btn-outline-google:hover {
  color: #fff !important;
  background: #e05d4b;
  border: 2px solid #e05d4b;
}

/* linkedin button */
.btn-linkedin,
.btn-linkedin:active,
.btn-linkedin:focus {
  color: #fff !important;
  background: #2083bc;
  border: 2px solid #2083bc;
}

.btn-linkedin:hover {
  color: #fff !important;
  background: #186592;
  border: 2px solid #186592;
}

.btn-linkedin-link,
.btn-linkedin-link:active,
.btn-linkedin-link:focus {
  color: #2083bc !important;
  background: transparent;
  border: none;
}

.btn-linkedin-link:hover {
  color: #186592 !important;
}

.btn-outline-linkedin,
.btn-outline-linkedin:active,
.btn-outline-linkedin:focus {
  color: #2083bc !important;
  background: transparent;
  border: 2px solid #2083bc;
}

.btn-outline-linkedin:hover {
  color: #fff !important;
  background: #2083bc;
  border: 2px solid #2083bc;
}

/* pinterest button */
.btn-pinterest,
.btn-pinterest:active,
.btn-pinterest:focus {
  color: #fff !important;
  background: #d2373b;
  border: 2px solid #d2373b;
}

.btn-pinterest:hover {
  color: #fff !important;
  background: #ad2c2f;
  border: 2px solid #ad2c2f;
}

.btn-pinterest-link,
.btn-pinterest-link:active,
.btn-pinterest-link:focus {
  color: #d2373b !important;
  background: transparent;
  border: none;
}

.btn-pinterest-link:hover {
  color: #ad2c2f !important;
}

.btn-outline-pinterest,
.btn-outline-pinterest:active,
.btn-outline-pinterest:focus {
  color: #d2373b !important;
  background: transparent;
  border: 2px solid #d2373b;
}

.btn-outline-pinterest:hover {
  color: #fff !important;
  background: #d2373b;
  border: 2px solid #d2373b;
}

/* dribble button */
.btn-dribbble,
.btn-dribbble:active,
.btn-dribbble:focus {
  color: #fff !important;
  background: #ec5f94;
  border: 2px solid #ec5f94;
}

.btn-dribbble:hover {
  color: #fff !important;
  background: #b4446e;
  border: 2px solid #b4446e;
}

.btn-dribbble-link,
.btn-dribbble-link:active,
.btn-dribbble-link:focus {
  color: #ec5f94 !important;
  background: transparent;
  border: none;
}

.btn-dribbble-link:hover {
  color: #b4446e !important;
}

.btn-outline-dribbble,
.btn-outline-dribbble:active,
.btn-outline-dribbble:focus {
  color: #ec5f94 !important;
  background: transparent;
  border: 2px solid #ec5f94;
}

.btn-outline-dribbble:hover {
  color: #fff !important;
  background: #ec5f94;
  border: 2px solid #ec5f94;
}

/* instagram button */
.btn-instagram,
.btn-instagram:active,
.btn-instagram:focus {
  color: #fff !important;
  background: #4c5fd7;
  border: 2px solid #4c5fd7;
}

.btn-instagram:hover {
  color: #fff !important;
  background: #4252ba;
  border: 2px solid #4252ba;
}

.btn-instagram-link,
.btn-instagram-link:active,
.btn-instagram-link:focus {
  color: #4c5fd7 !important;
  background: transparent;
  border: none;
}

.btn-instagram-link:hover {
  color: #4252ba !important;
}

.btn-outline-instagram,
.btn-outline-instagram:active,
.btn-outline-instagram:focus {
  color: #4c5fd7 !important;
  background: transparent;
  border: 2px solid #4c5fd7;
}

.btn-outline-instagram:hover {
  color: #fff !important;
  background: #4c5fd7;
  border: 2px solid #4c5fd7;
}

/* youtube button */
.btn-youtube,
.btn-youtube:active,
.btn-youtube:focus {
  color: #fff !important;
  background: #e52d27;
  border: 2px solid #e52d27;
}

.btn-youtube:hover {
  color: #fff !important;
  background: #b31217;
  border: 2px solid #b31217;
}

.btn-youtube-link,
.btn-youtube-link:active,
.btn-youtube-link:focus {
  color: #e52d27 !important;
  background: transparent;
  border: none;
}

.btn-youtube-link:hover {
  color: #b31217 !important;
}

.btn-outline-youtube,
.btn-outline-youtube:active,
.btn-outline-youtube:focus {
  color: #e52d27 !important;
  background: transparent;
  border: 2px solid #e52d27;
}

.btn-outline-youtube:hover {
  color: #fff !important;
  background: #e52d27;
  border: 2px solid #e52d27;
}
.btn-xs.btn-icon span,
.btn-xs.btn-icon i {
  line-height: 34px;
}
.btn-icon.btn-circle span,
.btn-icon.btn-circle i {
  margin-top: -1px;
  margin-right: -1px;
}
.btn-icon i {
  margin-top: -1px;
}
.btn-icon span,
.btn-icon i {
  display: block;
  line-height: 50px;
}
a.btn,
a.btn-social {
  display: inline-block;
}
.mr-5 {
  margin-right: 5px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.btn-facebook,
.btn-facebook:active,
.btn-facebook:focus {
  color: #fff !important;
  background: #4e68a1;
  border: 2px solid #4e68a1;
}
.btn-circle {
  border-radius: 50% !important;
}
.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}
p {
  font-family: "Barlow", sans-serif !important;
  font-weight: 300;
  font-size: 1rem;
  color: #686c6d;
  letter-spacing: 0.03rem;
  margin-bottom: 10px;
}
b,
strong {
  font-weight: 700 !important;
}
.container {
  padding: 5%;
}
body {
  margin-top: 20px;
}

.content-item {
  padding: 30px 0;
  background-color: #ffffff;
}

.content-item.grey {
  background-color: #f0f0f0;
  padding: 50px 0;
  height: 100%;
}

.content-item h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  text-transform: uppercase;
  margin: 20px 0;
}

.content-item h3 {
  font-weight: 400;
  font-size: 20px;
  color: #555555;
  margin: 10px 0 15px;
  padding: 0;
}

.content-headline {
  height: 1px;
  text-align: center;
  margin: 20px 0 70px;
}

.content-headline h2 {
  background-color: #ffffff;
  display: inline-block;
  margin: -20px auto 0;
  padding: 0 20px;
}

.grey .content-headline h2 {
  background-color: #f0f0f0;
}

.content-headline h3 {
  font-size: 14px;
  color: #aaaaaa;
  display: block;
}

#comments {
  box-shadow: 0 -1px 6px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

#comments form {
  margin-bottom: 30px;
}

#comments .btn {
  margin-top: 7px;
}

#comments form fieldset {
  clear: both;
}

#comments form textarea {
  height: 100px;
}

#comments .media {
  border-top: 1px dashed #dddddd;
  padding: 20px 0;
  margin: 0;
}

#comments .media > .pull-left {
  margin-right: 20px;
}

#comments .media img {
  max-width: 100px;
}

#comments .media h4 {
  margin: 0 0 10px;
}

#comments .media h4 span {
  font-size: 14px;
  float: right;
  color: #999999;
}

#comments .media p {
  margin-bottom: 15px;
  text-align: justify;
}

#comments .media-detail {
  margin: 0;
}

#comments .media-detail li {
  color: #aaaaaa;
  font-size: 12px;
  padding-right: 10px;
  font-weight: 600;
}

#comments .media-detail a:hover {
  text-decoration: underline;
}

#comments .media-detail li:last-child {
  padding-right: 0;
}

#comments .media-detail li i {
  color: #666666;
  font-size: 15px;
  margin-right: 10px;
}
.comments {
  margin: 10%;
  padding: 20%;
}
.btn-edit {
  background-color: green;
  border: 1px solid green;
  border-radius: 0.2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 6vh;
  color: white;
  margin: top 1%;
  margin-bottom: 1%;
}

.btn-edit:hover {
  background-color: rgb(25, 26, 25);
  border: 1px solid rgb(25, 26, 25);

  cursor: pointer;
}
ngb-rating {
  color: #ffc107;
  font-size: 50px;
}

.rating {
  float: left;
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
}

.rating:not(:checked) > label:before {
  content: "★ ";
}

.rating > input:checked ~ label {
  color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}

#instr:hover {
  color: rgb(0, 132, 255);
}
