<app-navbar></app-navbar>
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<div
  id="details"
  style="
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url('https://res.cloudinary.com/dtl8igxn0/image/upload/v1615412080/copie_xkud7i.jpg');
    background-size: cover;
  "
>
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  />

  <div
    id="details"
    style="
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
        url('https://res.cloudinary.com/dtl8igxn0/image/upload/v1615412080/copie_xkud7i.jpg');
      background-size: cover;
    "
  >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="project-info-box mt-0">
            <h5 style="color: green; font-weight: bolder; font-size: 15px">
              Description
            </h5>
            <p class="mb-0">{{ recette.Description }}</p>
          </div>
          <!-- / project-info-box -->

          <div class="project-info-box">
            <p ><b style="color: green; font-weight: bolder; font-size: 15px">Ingrédients: </b>{{recette.Ingredient}}</p>
            <p><b style="color: green; font-weight: bolder; font-size: 15px">Mode de prépartion: </b> {{recette.Preparation}}</p>
            <p><b style="color: green; font-weight: bolder; font-size: 15px">Temps de préparation: </b> {{recette.temps_Preparation}}</p>
            <p><b style="color: green; font-weight: bolder; font-size: 15px">Temps de cuisson: </b>{{recette.temps_cuisson}}</p>
            <p class="mb-0"><b style="color: green; font-weight: bolder; font-size: 15px">Nombre du personnes: </b>{{recette.nombre_personne}}</p>
            <p><b style="color: green; font-weight: bolder; font-size: 15px">Cuisinier:</b> {{recette.Cuisinier}}</p>
            <p><b style="color: green; font-weight: bolder; font-size: 15px">Temps de préparation:</b> {{recette.temps_Preparation}}</p>
            <p><b style="color: green; font-weight: bolder; font-size: 15px">Temps de cuisson:</b> {{recette.temps_cuisson}}</p>
            <p class="mb-0"><b style="color: green; font-weight: bolder; font-size: 15px">Ustentils:</b>{{recette.Ustensile}}</p>
            <fieldset class="rating">
              <input
                type="radio"
                [name]="inputName"
                value="5"
                [checked]="rating === 5"
              />
              <label title="Rocks!" (click)="onClick(5)">5 stars</label>
              <input
                type="radio"
                [name]="inputName"
                value="4"
                [checked]="rating === 4"
              />
              <label title="Pretty good" (click)="onClick(4)"
                >4 stars</label
              >

              <input
                type="radio"
                [name]="inputName"
                value="3"
                [checked]="rating === 3"
              />
              <label title="Meh" (click)="onClick(3)">3 stars</label>

              <input
                type="radio"
                [name]="inputName"
                value="2"
                [checked]="rating === 2"
              />
              <label title="Kinda bad" (click)="onClick(2)">2 stars</label>
              <input
                type="radio"
                [name]="inputName"
                value="1"
                [checked]="rating === 1"
              />
              <label title="Sucks big time" (click)="onClick(1)"
                >1 star</label
              >
            </fieldset>
            <br/>
          </div>
          <!-- / project-info-box -->
          <button *ngIf="userDetails.role==='admin'" [routerLink]="['/edit', recette.Id_recette]" class="btn-edit">edit</button>

        </div>
        <!-- / column -->

        <div class="col-md-7">
          <img
            [src]="recette.Photo"
            class="rounded"
          />
        </div>

        <!-- / column -->
      </div>
      <div
        style="
          background: rgb(255, 255, 255);
          padding: 7%;
          margin-top: 3%;
          border-radius: 0.3rem;
        "
      >
        <hr class="mb40" />
        <h4 class="mb40 text-uppercase font500">Comments</h4>
        <div class="media mb40" *ngFor="let comment of comments">
          <div *ngFor="let user of users">
            <img
              *ngIf="user.id === comment.UserId"
              [src]="user.imageUrl"
              class="rounded-circle avatar-xl img-thumbnail"
              alt="profile-image"
              style="width: 50px"
            />
          </div>
          <div class="media-body">
            <div *ngFor="let user of users">
              <h5
                class="mt-0 font400 clearfix"
                *ngIf="user.id === comment.UserId"
              >
                {{ user.fullName }}
              </h5>
            </div>
            {{ comment.commentaire }}
            <i
              class="far fa-trash-alt"
              *ngIf="userDetails.id === comment.UserId || userDetails.role==='admin'"
              (click)="deleteComment(comment.id)"
            ></i>
            <i
              class="fas fa-edit"
              *ngIf="userDetails.id === comment.UserId || userDetails.role==='admin'"
              (click)="change()"
            ></i>
            <form
              *ngIf="edit && comment.UserId === userDetails.id  || edit && userDetails.role==='admin'"

              className="edit-comment-form"
            >
              <br />
              <input
                type="text"
                name="text"
                defaultValue="{{ comment.commentaire }}"
                [(ngModel)]="text"
              />

              <i
                class="fa fa-check"
                (click)="editComment(text, comment.id)"
                aria-hidden="true"
              >
              </i>
            </form>
          </div>
        </div>

        <hr class="mb40" />
        <h4 class="mb40 text-uppercase font500">Post a comment</h4>
        <form role="form" [formGroup]="registerForm" (ngSubmit)="postComment()">
          <div class="form-group">
            <label>Comment</label>
            <textarea
              class="form-control"
              rows="5"
              formControlName="Comment"
              [ngClass]="{ 'is-invalid': submitted && f.Comment.errors }"
              id="Comment"
              class="form-control"
              required
            ></textarea>
          </div>
          <div class="clearfix float-right">
            <input
              type="submit"
              name="submit"
              class="btn btn-info btn-md"
              style="background-color: green; border: none ; margin:1% 0;"
              value="Commenter"
            />
          </div>
          <div *ngIf="submitted && f.Comment.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Poster votre commentaire</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
