
<app-navbar></app-navbar>
<body>
<div class="container">
  <br/><br/><br/><br/><br/>

    <table class="table">
    <thead class="thead-dark">
      <tr>
        <img (click)="open()"
        class="rounded-circle avatar-xl img-thumbnail"
         src="assets/uploads/images/{{ userDetails.imageUrl }}"
          style="color:white ;margin-left:150px;width:100px "/>
          <input  *ngIf="modifie" type="file"       accept="image/png, image/jpeg"
          (change)="onSelectimage($event)" /><button *ngIf="modifie" (click)="modifierimage()">modifier image</button>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First Name</td>
        <td>{{userDetails.fullName.split(' ')[0] }}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{userDetails.fullName.split(' ')[1] }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{userDetails.email }}</td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <input type="button" (click)='onLogout()' value="onLogout" style="background:#42B32F">
           </td>
      </tr>
    </tbody>
  </table>


</div>
</body>
<app-footer></app-footer>
