
#expert {
  background: #eee !important;
  margin:100px 100px 100px   100px;
  padding: 60px 0;

}
.btn{
  font-size:1em;
  color:#fff;
  background:#458C41;
  display: inline-block;
  padding:10px 30px;
  margin-top:20px;
  text-transform: uppercase;
  text-decoration: none;
  Letter-spacing:2px;
  transition:2s
}
.btn:hover
{
Letter-spacing:6px;
}

.titleText{
  color:#111;
  font-size:2em;
  font-weight:300;
  text-align:left;
}
.titleText span{
  color:#458C41;
  font-weight:700;
  font-size:1.5em;
  text-align:left;

}
.title {
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction :column;
}
.menu .content
{
  display:flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap:wrap;
  margin-top:40px;
}
.menu .content  .box
{
  width:340px;
  margin:20px;
  border:15px solid #fff;
  box-shadow:0 5px 35px rgba(0,0,0,0.08)
}
.menu .content .box .imgBx
{
  position:relative;
  width:100%;
  height:300px;
}
.menu .content .box .imgBx img
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
}
.menu .content .box .text
{
padding:15px 0 5px;
}
.menu .content .box .text h3
{
font-weight:400;
color:#111}
@media (max-width:991px){
  .menu .content{
    margin-top:20px;
  }
  .menu .content .box{
   margin:10px;
  }
  .menu .content .box .imgBx{
    height:260px;
   }
   .title{
     text-align:center ;
   }
   .titleText {
     font-size:1.8em;
     line-height: 1.5em;
     margin-bottom: 15px;
     font-weight: 300;
   }
}
