<section class="expert" id="expert" >

<div class="content1" >
  <div class="title">
    <h2 class="titleText">Top <span>R</span>ecettes</h2>

  </div>
<section  class="menu" id="menu" >

  <div class="content" >
    <div *ngFor="let recette of recettes|| myArray  ; let i = index" >
    <div class="box" *ngIf="i<6" >

      <div class="imgBx" >
        <img [routerLink]="['/details', recette.Id_recette]"
        [src]="recette.Photo">

      </div>
      <div class="text">
        <ngb-rating
        [(rate)]="recette.averagerate"
        [max]="5"
        style="font-size: 20px; color: #ffc107"
        [readonly]="true"
      ></ngb-rating>

      </div>
    </div>
    </div>




  </div>

</section>
<div class="title">
  <a class="btn" routerLink='/recette' >tous les recettes </a>
</div>
</div>
</section>
