body {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://res.cloudinary.com/dtl8igxn0/image/upload/v1615412080/copie_xkud7i.jpg');
  background-size:cover;
  width:100%;
  height:100%;
}
#login .container #login-row #login-column #login-box {
  /* margin-top: 120px;
  max-width: 600px;
  width: 400px;
  margin-left:70px; */

  /* height: 450px; */
  padding: 10%;
  margin:25% 0;
  border: 1px solid #9C9C9C;
  background-color: rgba(0, 0, 0, 0.5);
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.text-error{
  color: red;
}
