
<!------ Include the above in your HEAD tag ---------->

<section>
<section>

<div id="body">
<div class="container"  >
        <div class="row">
          <br/><br/><br/><br/>
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <br/><br/><br/><br/>
          <> <h1 class="gallery-title">Recettes</h1>
        </div>

        <div  class='nav' style="text-align:center">
            <button class="btn btn-default filter-button" data-filter="all" value="All"   (click)="handleClick($event)">Tous les recettes</button>
            <button class="btn btn-default filter-button" data-filter="hdpe" value="Entrée" (click)="handleClick($event)">Entrée</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle" value="Plat Principal" (click)="handleClick($event)">Plat Principal</button>
            <button class="btn btn-default filter-button" data-filter="spray" value="Patisseries Recettes" (click)="handleClick($event)">Patisseries Recettes</button>
            <button class="btn btn-default filter-button" data-filter="spray"  routerLink='/addrecette'><i class="fa fa-plus" aria-hidden="true"></i>
            </button>

        </div>
        <br/><br/>
        <br/><br/>
      </div>


      <div class="row">
        <br/>

        <div class="col-12 col-md-6 col-lg-3" *ngFor="let recette of  myArray">
          <div class="card" style="border:1px solid white"
          >

            <img (click)="getrecette(recette.id)"
              src="assets/uploads/recettes/{{recette.image}}"
              class="card-img-top"
              alt="..." style="width:100%; height: 120px;"
            />
            <div class="card-body">
              <h5 class="card-title">{{recette.titre}}</h5>

              <p class="card-text" style="color:white">
              {{recette.description}}
              </p>
              <span
              data-toggle="modal"
              data-target="#modal-lg"
              (click)="getfile(recette.pdf)"><i
                class="fa fa-file-pdf-o"
                style="
                  color: red;
                  text-align: center;
                  margin-left: 5px;
                  font-size: 30px;
                "
                aria-hidden="true"

              ></i
            ></span>
            <a style="margin-left:200px; background: #42B32F" (click)="deleteRecette(recette.id)"><i class="fas fa-trash-alt"></i></a>
            <br/>
            </div>
          </div>




          <div class="modal fade" id="modal-lg" #modall>
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">tes</h4>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="file"></iframe>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    hide
                  </button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->


















  </div>
  </div>
  </div>
  </div>
  </section>
</section>
