
<!------ Include the above in your HEAD tag ---------->

<section>
<section>

<div id="body">
<div class="container"  >
        <div class="row">
          <br/><br/><br/><br/>
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <br/><br/><br/>
           <h1 class="gallery-title">Recettes</h1>
        </div>

        <div  class='nav' style="text-align:center">
            <button class="btn btn-default filter-button" data-filter="all" value="All"   (click)="handleClick($event)">Tous les recettes</button>
            <button class="btn btn-default filter-button" data-filter="hdpe" value="Entrée" (click)="handleClick($event)">Entrée</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle" value="Plat Principal" (click)="handleClick($event)">Plat Principal</button>
            <button class="btn btn-default filter-button" data-filter="spray" value="Patisseries Recettes" (click)="handleClick($event)">Patisseries Recettes</button>
            <button class="btn btn-default filter-button" data-filter="spray"  routerLink='/addrecette'><i class="fa fa-plus" aria-hidden="true"></i>
            </button>

        </div>
        <br/><br/>
        <br/><br/>
      </div>


      <div class="row">
        <br/>

        <div class="col-12 col-md-6 col-lg-3" *ngFor="let recette of  myArray">
          <div class="card" style="border:1px solid white"
          >

            <img [routerLink]="['/details', recette.Id_recette]"
           
              src="assets/uploads/recettes/{{recette.Photo}}"
              class="card-img-top"
              alt="..." style="width:100%; height: 120px;"
            />
            <div class="card-body">

              <p class="card-text" style="color:white">
              {{recette.Description}}
              </p>

            <a style="margin-left:200px; background: #42B32F" (click)="deleteRecette(recette.Id_recette)"><i class="fas fa-trash-alt"></i></a>
            <br/>
            </div>
          </div>



  </div>
  </div>
  </div>
  </div>
  </section>
</section>
