<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<div
  id="add"
  style="
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url('https://res.cloudinary.com/dtl8igxn0/image/upload/v1615412080/copie_xkud7i.jpg');
    background-size: cover;
  "
>
<form [formGroup]="loginForm"
(ngSubmit)="addrecette()">
<div class="form-group">
  <label
    for="description"
    style="color:white"
    >Description:</label
  ><br />
  <textarea
    rows="2"
    cols="30"
    name="description"
    formControlName="description"
    id="description"

  >
  </textarea>

</div>
<div class="form-group">
  <label
    for="nombre_personne"
    style="color:white"

    >Ingrédients:</label
  ><br />
  <textarea
    rows="2"
    cols="30"
    name="nombre_personne"
    formControlName="ingredient"
  >
  </textarea>
</div>
<div class="form-group">
  <label
    for="nombre_personne"
    style="color:white"

    >Mode de préparation:</label
  ><br />
  <textarea
    rows="2"
    cols="30"
    name="nombre_personne"
    formControlName="preparation"
  >
  </textarea>
</div>
<div class="form-group">
  <label
    for="temps_Préparation"
    style="color:white"

    >Temps de Préparation:</label
  ><br />
  <textarea
    rows="2"
    cols="30"
    name="temps_Préparation"
    formControlName="temps_Preparation"
  >
  </textarea>
</div>
<div class="form-group">
  <label
    for="temps_cuisson"
    style="color:white"

    >Temps de cuisson:</label
  ><br />
  <textarea
    rows="2"
    cols="30"
    name="temps_cuisson"
    formControlName="temps_cuisson"
  >
  </textarea>
</div>
<div class="form-group">
  <label
    for="nombre_personne"
    style="color:white"

    >Nombre de personne:</label
  ><br />
  <textarea
    rows="2"
    cols="30"
    name="nombre_personne"
    formControlName="nombre_personne"
  >
  </textarea>
</div>
<div class="form-group">
  <label for="image"style="color:white;"
  >Image:</label>
  <input
    formControlName="image"
    (change)="onSelectimage($event)"
    type="file"
    name="image"
    style="padding:1%;"
    accept="image/png, image/jpeg"
  />
</div>
<div class="form-group">
  <input
    type="submit"
    name="submit"
    class="btn btn-info btn-md"
    style="background-color: #288b16; border:none"
    value="Ajouter"
     />
</div>
</form>
</div>
