<div style="padding: 5% 0 ; width:100%">
  <ngb-carousel style="width:100%">
    <ng-template ngbSlide>
      <div class="container" style="width:110%">
        <div class="row" style="padding-left:8% ; padding-right:14%;width:100%">
          <div class="col-sm-12">
            <div id="grid" class="row">
              <div
                class="mix col-sm-3 page1 page4 margin30"
                *ngFor="let recette of recettes || myArray; let i = index"
              >
                <div class="item-img-wrap" *ngIf="i < 4">
                  <img
                    [src]="recette.Photo"
                    class="img-responsive"
                    alt="workimg"
                    style="
                      max-width: 300px;
                      min-width: 300px;
                      max-height: 200px;
                      min-height: 200px;

                    "
                  />
                  <div class="item-img-overlay">
                    <a class="show-image">
                      <span
                        ><p
                          class="btnn"
                          (click)="getrecette(recette.Id_recette)"
                        >
                          Afficher
                        </p></span
                      >
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--grid-->
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="container" style="width:110%">
        <div class="row" style="padding-left:8% ; padding-right:14%;width:100%">
          <div class="col-sm-12">
            <div id="grid" class="row">
              <div
                class="mix col-sm-3 page1 page4 margin30"
                *ngFor="let recette of recettes || myArray; let i = index"
              >
                <div class="item-img-wrap" *ngIf="i >= 4">
                  <img
                    [src]="recette.Photo"
                    class="img-responsive"
                    alt="workimg"
                    style="
                      max-width: 300px;
                      min-width: 300px;
                      max-height: 200px;
                      min-height: 200px;

                    "
                  />
                  <div class="item-img-overlay">
                    <a class="show-image">
                      <span
                        ><p
                          class="btnn"
                          (click)="getrecette(recette.Id_recette)"
                        >
                          Afficher
                        </p></span
                      >
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--grid-->
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
