<div style="padding: 5% 0;">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="grid" class="row">
              <div class="mix col-sm-3 page1 page4 margin30" *ngFor="let recette of recettes ||myArray ; let i = index" >
                <div class="item-img-wrap" *ngIf="i < 6" >

                  <img
                  src="assets/uploads/recettes/{{ recette.Photo }}"    class="img-responsive"
                    alt="workimg"
                    style="max-width:280px; min-width:280px ; max-height: 180px; min-height: 180px;"
                  />
                  <div class="item-img-overlay">
                    <a href="#" class="show-image">
                      <span ><p class="btnn" (click)="getrecette(recette.Id_recette)">Afficher</p></span>
                    </a>
                  </div>
                </div>
              </div>



            </div>
            <!--grid-->
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="grid" class="row">
              <div class="mix col-sm-3 page1 page4 margin30" *ngFor="let recette of recettes ||myArray ; let i = index" >
                <div class="item-img-wrap" *ngIf="i >= 6" >

                  <img
                  src="assets/uploads/recettes/{{ recette.Photo }}"    class="img-responsive"
                    alt="workimg"
                    style="max-width:280px; min-width:280px ; max-height: 180px; min-height: 180px;"
                  />
                  <div class="item-img-overlay">
                    <a href="#" class="show-image">
                      <span ><p class="btnn" (click)="getrecette(recette.Id_recette)">Afficher</p></span>
                    </a>
                  </div>
                </div>
              </div>



            </div>
            <!--grid-->
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
