@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins',sans-serif;}
.container{
  max-width: 1150px;
  display:flex;

}
.single-box{
  flex:1;
  border:1px solid #fff;

}
.container{
  display:inline-block;
  justify-content:space-between;
  padding:20px;

}
.img-area{
  height:200px;
  width:100%;
}
.img-area img{
  height:100%;
  width:100%;
  object-fit: cover;
}
.img-text{
  padding:10px 20px;
 background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))
}
p{
  font-size:25px;
  font-weight: 600;
}
h2{
  font-size: 20px;
  font-weight: 600;
  color:#458C41;
  line-height:20px
}
 p{
  text-align:justify;
  margin:10px 0;

}
 .btn{
  display:block;
  text-align: left;
  margin:10px 0;
}
.btn button {
  background:#458C41;
  color:#fff;
  border:none;
  outline:none;
  font-size:17px;
  padding:5px 8px;
  border-radius:5px;
  cursor:pointer;
  transition:0.2s;
}
 .btn button:hover{
  transform:scale(0.9);
}
