<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carouel-indicators">

            <li data-target="carouselExapmleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="carouselExapmleIndicators" data-slide-to="1" ></li>

          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area"><img src="https://res.cloudinary.com/dtl8igxn0/image/upload/v1614963134/1e091d1b-dbd6-4d82-aba9-3fd048c73c48_m0jimg.jpg"/></div>
                    <div class="img-text">
                      <h2>recette1</h2>
                      <p>salade </p>
                      <div class="btn">
                        <button >read more</button>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area"><img src="https://res.cloudinary.com/dtl8igxn0/image/upload/v1614963269/images_p6j51e.jpg"/></div>
                    <div class="img-text">
                      <h2>recette2</h2>
                      <p>salade </p>
                      <div class="btn">
                        <button >read more</button>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area"><img src="https://res.cloudinary.com/dtl8igxn0/image/upload/v1614962459/recette-e15183-salade-grecque_aaefyq.jpg"/></div>
                    <div class="img-text">
                      <h2>recette3</h2>
                      <p>salade </p>
                      <div class="btn">
                        <button >read more</button>
                      </div>
                    </div>

                  </div>
                </div>



              </div>
            </div>



            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area"><img src="https://res.cloudinary.com/dtl8igxn0/image/upload/v1614962459/recette-e15183-salade-grecque_aaefyq.jpg"/></div>
                    <div class="img-text">
                      <h2>recette4</h2>
                      <p>salade </p>
                      <div class="btn">
                        <button >read more</button>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area"><img src="https://res.cloudinary.com/dtl8igxn0/image/upload/v1614962918/Salades-mozza-mini-bille-et-pommesjpg_ntfnhp.jpg"/></div>
                    <div class="img-text">
                      <h2>recette5</h2>
                      <p>salade </p>
                      <div class="btn">
                        <button >read more</button>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area"><img src="https://res.cloudinary.com/dtl8igxn0/image/upload/v1614962799/8958_biu1j8.jpg"/></div>
                    <div class="img-text">
                      <h2>recette6</h2>
                      <p>salade </p>
                      <div class="btn">
                        <button >read more</button>
                      </div>
                    </div>

                  </div>
                </div>



              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
